@model FacilityManager.Models.Report

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWorkOrders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWorkOrders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWorkHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWorkHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
