@model FacilityManager.Models.Company

@{
    ViewData["Title"] = "Details";
}
<img class="mx-auto d-block" src="~/lib/icons/001-company.svg" width="50" height="60" />
<h4 class="text-center">Company Details</h4>
<hr />

   
    <div class="container">
        <div>
         
            <hr />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <dl class="row">

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Afm)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Afm)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AddressStreet)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AddressStreet)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AddressNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AddressNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AddressPostCode)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AddressPostCode)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                    </dl>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>

        
        </div>