@model FacilityManager.Models.WorkOrderViewModel

@{
    ViewData["Title"] = "Details";
}
<img class="mx-auto d-block" src="~/lib/icons/001-to-do-list.svg" width="50" height="60" />
<h4 class="text-center">Add Work Order</h4>
<hr />
<div class="container">


    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h1>Details</h1>

            <div>
                <h4>WorkOrder</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cost)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cost)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BuildingName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BuildingName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EquipmentName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EquipmentName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.WorkStart)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.WorkStart)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.WorkEnd)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.WorkEnd)
                    </dd>
                    @for (int i = 0; i < Model.EmployeeNames.Count; i++)
                    {
                        <dt class="col-sm-2">
                            Employee Names
                        </dt>
                        <dd class="col-sm-10">
                            @Model.EmployeeNames.ElementAt(i)
                        </dd>
                    }
                    @for (int i = 0; i < Model.ContractorNames.Count; i++)
                    {
                        <dt class="col-sm-2">
                            Contractors Names
                        </dt>
                        <dd class="col-sm-10">
                            @Model.ContractorNames.ElementAt(i)
                        </dd>
                    }
                    @for (int i = 0; i < Model.TasksName.Count; i++)
                    {
                        <dt class="col-sm-2">
                            Task Description
                        </dt>
                        <dd class="col-sm-10">
                            @Model.TasksName.ElementAt(i)
                        </dd>

                    }
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
            </div>
</div>
</div>