@model IEnumerable<FacilityManager.Models.Contractor>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
<img class="mx-auto d-block" src="~/lib/icons/010-contractor.svg" width="50" height="60" />
<h2 class="text-center">Contractors</h2>

<p class="text-center">
    <a asp-action="Create">Add new <img class="mx-auto" src="~/lib/icons/add.svg" width="20" height="20" /></a>
</p>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
              <!--  <a asp-action="Edit" asp-route-id="@item.ContractorId"> <img class="mx-auto" src="~/lib/icons/001-pencil.svg" width="20" height="20" /></a> |
                <a asp-action="Details" asp-route-id= "@item.ContractorId" ><img class="mx-auto" src="~/lib/icons/004-info-1.svg" width="20" height="20" /></a>  | -->
                <a asp-action="Delete" asp-route-id="@item.ContractorId"><img class="mx-auto" src="~/lib/icons/005-garbage.svg" width="20" height="20" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>

<script type="text/javascript">

    $(document).ready(function () {

     $('#table').DataTable( );

        });</script>